.container {
    max-width: 500px;
    border: 2px solid cornflowerblue;
    margin: 0;
    display: flex;
    margin-bottom: 24px;
}

.item {
    background: mediumaquamarine;
    margin: 5px;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: gray;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}