.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.flex-item {
    background: cornflowerblue;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 8px;
    margin: 8px;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li{
    background: cadetblue;
}

.column {
    float: left;
    flex-direction: column;
}

.column li {
    background: indianred;
}

.column-reverse {
    float: right;
    flex-direction: column-reverse;
}

.column-reverse li {
    background: lightblue;
}
